<div class="home-header">
  <h2>Home Page</h2>
</div>
<div class="homebtn">
  <a class="btn btn-primary s" ui-sref="notes">{{home.message}}</a>
</div>
<div class="home-content">
  <p>Welcome to our Note-taking app, the ultimate solution for all your note-taking needs!

    With our app, you can easily create, edit, and delete notes with just a few clicks. Whether you are a student, professional, or simply someone who needs to keep track of their daily tasks, our app is perfect for you.</p>
</div>
