<div class="links">
    <a class="btn btn-primary" ui-sref="home">Home</a> &lt;
    <span>Notes</span>
</div>
<div class="container">
  <h1>Note taking</h1>
  <form ng-submit="addTodo()" ng-show="!editing">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        placeholder="Add new Note"
        ng-model="newTodoTitle"
      />
    </div>
    <div class="form-group">
      <textarea
        class="form-control"
        placeholder="Add Note description"
        ng-model="newTodoBody"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
  <form ng-submit="updateTodo()" ng-show="editing">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="editingTodo.title" />
    </div>
    <div class="form-group">
      <textarea class="form-control" ng-model="editingTodo.body"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-default" ng-click="cancelEditing()">
      Cancel
    </button>
  </form>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="todo in todos">
          <td>
            <span ng-show="!todo.editing">{{ todo.title }}</span>
            <form ng-show="todo.editing" ng-submit="updateTodo()">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="todo.title"/>
              </div>
            </form>
          </td>
          <td>
            <span ng-show="!todo.editing">
              <button class="btn btn-link" ng-click="toggleDescription(todo)">
                {{todo.showDescription ? "Hide":"Show"}} Description
              </button>
              <div ng-show="todo.showDescription">{{ todo.body }}</div>
            </span>
            <form ng-show="todo.editing" ng-submit="updateTodo()">
              <div class="form-group">
                <textarea class="form-control" ng-model="todo.body"></textarea>
              </div>
            </form>
          </td>
          <td>
            <button
              class="btn btn-info btn-sm"
              ng-click="editTodo(todo)"
              ng-show="!todo.editing"
            >
              Edit
            </button>
            <button
              class="btn btn-danger btn-sm"
              ng-click="removeTodo(todo)"
              ng-show="!todo.editing"
            >
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
